<footer class="footer">

  <p class="footer-motto" style="color: white; font-weight: bold;"><i class="fa fa-fort-awesome" aria-hidden="true"></i>
    Deepak Yadav Developer + Designer <i class="fa fa-fort-awesome" aria-hidden="true"></i>
  </p>

  <p class="footer-links">
    <a href="https://github.com/vithalreddy/nodeJS-socketIO-chat" target="_blank">Reach Me</a> ·
    <a href="https://github.com/developerdeveloper01" target="_blank">Visit My Github Profile</a> ·
    <a href="mailto:yadavdeepak486@gmail.com" target="_blank">Contact</a>
  </p>

  <p class="footer-name"> &copy; <a href="#"><b>DeepakYadav</b> </a></p>

</footer>

<!-- js files -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/socket.io-1.7.3.js"></script>